# contiene las llave de acceso a la API de Twitter
llave.txt

# json con las contraseñas
contrasena.json

# json con las llaves de acceso a la API de Twitter
llaves.json

# .env files
.env

# no enviar a github los archivo .env
.env.local
.env.development.local
.env.test.local
.env.production.local
